* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.PKG_RECT {
  stroke: black;
  stroke-width: 1px;
  fill: white;
}

.PKG_LABEL {
  font-size: 12px;
  font-weight: bold;
  color: red;
}

.DEP_RECT {
  stroke: black;
  stroke-width: 1px;
  fill: #fad7dc;
  opacity: 0.5;
}

.DEP_LABEL .depName {
  font-weight: bold;
  font-size: 13px;
}

.DEP_LABEL .depVersion {
  font-size: 11px;
  font-style: italic;
}
