/* styles.css */
* {
  margin: 0.2em;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
h1 {
  font-size: xx-large;
}
h2 {
  font-family: monospace;
}

#MainView {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#LeftView {
  width: 33%;
  display: flex;
  flex-direction: column;
}
#TreeMap {
  width: 65%;
  background-color: #fff;
  border: solid 1px #000;
}
#Control {
  width: 100%;
  font-size: small;
  background-color: #fff;
  border: solid 1px #000;
}
#InfoList {
  width: 100%;
  background-color: #fff;
  font-size: small;
  border: solid 1px #000;
  overflow: scroll;
}
#searchBox {
  width: 90%;
  margin: 0.5em 0.2em;
}
